<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo11.mapper.BookMapper">

    <!-- selectBookList --> 

    <select id="selectBookList">
        select *
        from (
            select rownum rn, t.* 
            from (
                select  *
                from    tb_book 
                where 1=1
                    <!--검색어가 입력되었다면(null이 아니고 빈문자열이 아니라면 )
                         검색필드와 검색어를 이용하여 조건을 추가
                         
                        ${} : 문자열 치환 
                                동적으로 SQL쿼리의 테이블이름, 컬럼이름등을 사용 할때 사용

                        #{} : 파라메터 처리
                    
                    -->
                    <if test = "searchWord != null and searchWord != ''">
                            <if test="searchField == 'regdate'">
                            <!--
                            비교연산자의 경우 
                            xml태그로 해석되지 않고 텍스트로 처리하기 위해서 
                            <![CDATA[ 문자열  ]]> 로 감싸 줍니다.
                            -->
                            <![CDATA[                                
                            and to_char(${searchField},'yyyy-mm-dd') > #{searchWord}
                            ]]>
                            </if>
                            <if test="searchField == 'title' or searchField == 'author'">
                            and ${searchField} = #{searchWord}
                            </if>
                    </if>
                order by b_no desc
            )t
        )
        where rn between #{pageNo} * #{amount} - (#{amount}-1)
                    and #{pageNo} * #{amount}
    </select>
    
    <!-- selectTotalCnt --> 

    <select id="selectTotalCnt">
    select count(*) 
    from tb_book
    where 1=1

    <if test = "searchWord != null and searchWord != ''">
        <if test="searchField == 'regdate'">
        <![CDATA[  
        and to_char(${searchField},'yyyy-mm-dd') > #{searchWord}
        ]]>
        </if>
        <if test="searchField == 'title' or searchField == 'author'">
        and ${searchField} = #{searchWord}
        </if>
    </if>

    </select>


    
</mapper>