<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo11.mapper.MemberMapper">

    <!-- selectMemberList --> 

    <select id="selectMemberList">
        select *
        from    (
                select rownum rn, t.* 
                from    (
                        select  * 
                        from    tb_member
                        order by m_no desc
                )t
        )
        where rn between #{pageNo} * #{amount} - (#{amount}-1)
                    and #{pageNo} * #{amount}
    </select>

    <!-- selectTotalCnt --> 

    <select id="selectTotalCnt">
        select count(*) from tb_member
    </select>
    
</mapper>