<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo11.mapper.UploadMapper">

    <!-- insertUpload --> 

    <insert id="insertUpload">
        insert into tb_upload_file 
        (f_no, idx, oname, sname, path, file_type)
        values(seq_upload_file.nextval, #{idx}, #{oname}, #{sname}, #{path}, #{file_type})
    </insert>

    <!-- selectUploadList --> 

    <select id="selectUploadList">
        select * from tb_upload_file order by f_no desc
    </select>
    

    <!-- selectUpload --> 

    <select id="selectUpload">
    select * from tb_upload_file where f_no = #{f_no}
    </select>    


</mapper>