<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--부트스트랩 CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        main{
            width: 80%;
            margin: 0 auto;
        }
        #searchBox{
            width: 500px; 
            margin: 0 auto;
        }
    </style>
    <script>
        // 페이지블럭의 페이지번호를 클릭하면 함수가 실행
        // searchForm을 이용해 페이지 요청 정보를 서버에 전달
        function go(pageNo){
            console.log(pageNo);
            document.querySelector("#pageNo").value = pageNo;
            // 폼을 전송(요청)
            searchForm.submit();
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
      [onclick]{
        cursor: pointer;
      }
      .new::after{
        content: 'new';
        background-color: red;
      }
    </style>
</head>
<body>
<a href="/download?fileName=1. JAVA 다운로드.docx">다운로드</a>
<img src="/download?fileName=bootstrap-logo.svg&img=Y" alt="" width="30px" height="24px">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-arrow-down" viewBox="0 0 16 16" onclick="location.href='/book/list'">
  <path d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5"/>
  <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
</svg>
<i class="bi bi-file-arrow-down"></i> 
<br>
<span class="new">하이라이트!</span>
<span class="new2">하이라이트!</span>

    <!-- fragment 입력 
      th:replace : 태그를 프레그먼트로 교체
        ~{파일이름::fragment}
      th:insert : 태그안에 프레그먼트를 삽입
    -->
    <div th:replace="~{/fragments::fm1}"></div>

    <header th:insert="~{/fragments::header}"></header>
        

    <main>
    <!-- 서버에서 저장한 데이터를 화면에 출력-->
    <!--만약 전달된 데이터가 없다면 값이 출력되지 않는다-->
    <h1 th:text="${title}">리스트</h1>
    <!-- <div th:text="${list}"></div> -->
    <form action="/book/list" method="get" name="searchForm">
      <a href="/book/list">리스트페이지로 이동</a>

      map : <span th:text="${map.pageDto.searchDto.searchField == 'author'}"></span>
      <!--param 으로 비교 할 경우, 문자열 처리를 하지 않으면 비교 결과가 제대로 나오지 않음-->
      <br>param : <span th:text="${param.searchField == 'author'}"></span>
      
      <div th:text="${param.searchField}"></div>
      <div th:text="'author'"></div>
      <div class="input-group" id="searchBox">

        <!-- 검색필드 :-->
        <!-- 검색필드 :-->
        <select class="form-select" aria-label="Default select example" name="searchField">
          <option value="title" selected>도서명</option>
          <option value="author" th:selected = "${map.pageDto.searchDto.searchField == 'author'}">작가</option>
          <option value="regdate" th:selected = "${map.pageDto.searchDto.searchField == 'regdate'}">등록일</option>
        </select>
        <!-- 검색어 -->
        <input type="text" class="form-control" placeholder="검색어" name="searchWord"
                  th:value="${param.searchWord}">
        <!-- 검색 버튼 -->
        <button class="form-control btn btn-outline-secondary" type="submit">검색</button>
      </div>
        <!--
        param.pageNo 을 이용할 경우 문제점
        1. param을 이용해서 데이터를 가지고 오는 경우, 문자열로 반환이 되어지기 때문에 비교할때 형변환이 필요함
        2. 파라메터가 전달 되지 않은경우의 처리가 필요함
        그래서 param.pageNo 보다는 pageDto.searchDto.pageNo를 사용함
        -->
        pageNo : 
        <input type="text" name="pageNo" id="pageNo" value="1" 
                        th:value="${map.pageDto.searchDto.pageNo}">
        <br>amount : 
        <input type="text" name="amount" id="amount" value="10" 
                        th:value="${map.pageDto.searchDto.amount}">
        
        <br><button>전송</button>
    </form>
    <button onclick="location.href='/book/write'">등록</button>
    <!--테이블-->
    <table class="table" th:with="list=${map.list}">
        <thead>
          <tr>
            <th scope="col">도서번호</th>
            <th scope="col">도서명</th>
            <th scope="col">작가</th>
            <th scope="col">등록일</th>

          </tr>
        </thead>
        <tbody>
          
        <!-- 리스트가 비어있는경우 -->
          <th:block th:if="${#lists.isEmpty(list)}">
            <tr>
                <td colspan="4">등록된 도서가 없습니다.</td>
            </tr>
          </th:block>
        <!-- 리스트가 비어있지 않은경우 -->
          <th:block th:unless="${#lists.isEmpty(list)}">
            <th:block th:each="book:${list}">
                <tr>
                    <th scope="row" th:text="${book.b_no}"></th>
                    <td>
                      <a th:href="@{/book/detail(b_no=${book.b_no})}" th:text="${book.title}"></a>
                      <!-- 링크를 이용해서 /book/detail?b_no=123 
                       컨트롤러 /book/detail -->
                       <th:block th:unless="${isNew}">
                        <i class="bi bi-balloon"></i>
                       </th:block>
                    </td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.regdate}"></td>
                </tr>
            </th:block>
          </th:block>


        </tbody>
      </table>

      <div th:text="${pageDto}"></div>
      <div th:replace="~{/fragments::pageNavi}"></div>


    </main>

    <footer th:insert="~{/fragments::footer}"></footer>
    
    <!--부트스트랩 JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>