<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 목록</title>
</head>
<body>

    <!--
    타임리프 문법 
        외부에 정의해놓은 fragment를 불러 옵니다
    
        중복이 발생하는 코드를 정의 해놓고 불러서 사용
    -->
    <header th:insert="~{/fragments::header}"></header>
    <!--
        param.searchField.toString()
        .toString() ~ 오류가 발생 하는 이유는
        param.searchField 파라메터로 넘어온 searchField가 없기 때문
    -->
    <main th:with="list=${map.list}">
        <h3>사용자 목록</h3>

        <!-- SearchForm : 검색조건및 페이징 정보를 담은 폼-->
        <Form action="/member/list" method="get" name="searchForm">
            <hr>
            <!-- input-group : select, text, button을 한줄에 나오도록 처리-->
            <div class="input-group" style="width:500px;margin:0 auto;">
            <!-- 검색필드 :-->
            <select class="form-select" aria-label="Default select example" name="searchField">
                <option value="name" selected>이름</option>
                <!-- selected = true이면 selected가 적용됨 -->
                <option value="id" th:selected = "${map.pageDto.searchDto.searchField == 'id'}">아이디</option>
                <option value="regdate" th:selected = "${map.pageDto.searchDto.searchField == 'regdate'}">가입일</option>
            </select>
            <!-- 검색어 -->
            <input type="text" class="form-control" placeholder="검색어" name="searchWord"
                        th:value="${param.searchWord}">
            <!-- 검색 버튼 -->
            <button class="form-control btn btn-outline-secondary" type="submit">검색</button>
            </div>
            <hr>
            
            <input type="hidden" id="pageNo" name="pageNo" th:value="${map.pageDto.searchDto.pageNo}">
            <input type="hidden" id="amount" name="amount" th:value="${map.pageDto.searchDto.amount}">
            
        </Form>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">사용자 등록번호</th>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">가입일</th>
              </tr>
            </thead>
            <tbody>

                <th:block th:if="${#lists.isEmpty(list)}">
                    <tr>
                        <td colspan="4">등록된 사용자가 없습니다.</td>
                    </tr>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(list)}">
                    <th:block th:each="member:${list}">
                    <tr>
                      <th scope="row" th:text="${member.m_no}">1</th>
                      <td th:text="${member.id}">Mark</td>
                      <td th:text="${member.name}">Otto</td>
                      <td th:text="${member.regdate}">@mdo</td>
                    </tr>
                    </th:block>
                </th:block>
              
            </tbody>
          </table>
          <div th:insert="~{/fragments::pageNavi}"></div>
    </main>

    <footer th:insert="~{/fragments::footer}"></footer>
</body>
</html>