<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/js/register.js"></script>
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="bg-gradient-primary">
    <header th:insert="~{/fragments::header}"></header>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <!--파일을 전송시 enctype을 지정-->
                            <form class="user" 
                                    name="registerForm" 
                                    method="post"
                                    action="/member/registerAction"
                                    enctype="multipart/form-data">

                                <input type="file" name="file" id="" multiple>
                                <!--아이디 중복체크 진행여부-->
                                <input type="hidden" value="0" id="checkId">
                                <p class="msgbox" id="msgbox"></p>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" 
                                            class="form-control form-control-user" 
                                            id="id"
                                            name="id"
                                            placeholder="아이디">
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- REST방식으로 처리 - 자바스크립트 비동기방식으로 데이터(JSON형식의)만 받아와서 처리 -->
                                        <button class="btn btn-primary btn-user btn-block"
                                            id="btn_checkId">아이디 중복체크</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" 
                                        class="form-control form-control-user" 
                                        id="name"
                                        name="name"
                                        placeholder="이름">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" 
                                            class="form-control form-control-user"
                                            name="pw"
                                            id="pw" 
                                            placeholder="비밀번호">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" 
                                            class="form-control form-control-user"
                                            id="pw_check" 
                                            placeholder="비밀번호 확인">
                                    </div>
                                </div>
                                <a href="javascript:fn_register()" class="btn btn-primary btn-user btn-block">
                                    회원가입
                                </a>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer th:insert="~{/fragments::footer}"></footer>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>