<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>파일업로드</h3>
    <!-- 서버에 파일을 업로드 하기 위해 enctype을 지정-->
    <form action="/uploadAction" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="">
        <button>전송</button>
    </form>
    <div th:text="${msg}"></div>
    <hr>
    <h2>파일업로드 - multiple</h2>
    <form action="/uploadActionMultiple" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFiles" id="" multiple>
        <button>전송</button>
    </form>
</body>
</html>